@use "abstracts" as *;
$test-border: 2px solid red;
.label {
  font-size: 1.05rem;
  margin: 1rem 0;
}
.secondary-link {
  color: $secondary-link-color;
}
.price {
  color: $price-color;
  font-size: 1.1rem;
}
.flex {
  display: flex;
  align-items: center;
}
.text-bold {
  font-weight: bold;
}
.border-hover {
  border: 1px solid transparent;
  border-radius: 3px;
  &:hover {
    border-color: white;
  }
}
.hovered {
  display: block;
  z-index: 10;
}
.nav-btn-link {
  height: 95%;
  padding: 0.5rem 0.5rem;
  color: white;
}
.dynamic-content::after {
  content: " " attr(data-content) " ";
}
body {
  font-family: "ember-regular";
  font-size: 14px;
  #navbar-main {
    width: 100%;
    flex-direction: column;

    #navbar {
      font-size: 14px;
      line-height: 15px;

      flex-direction: column;
      width: 100%;

      #nav-top {
        height: 60px;
        padding: 0.25rem 1rem;
        justify-content: space-between;
        position: relative;
        background-color: $nav-top-color;
        .nav-top-doubletext {
          height: 40%;
          font-size: 90%;
          p:first-of-type {
            color: #cccccc;
          }
          p:last-of-type {
            color: white;
            font-weight: 500;
            font-size: 0.9rem;
          }
        }

        .nav-top-item:last-of-type {
          display: flex;
          height: 100%;
        }
        .nav-top-left {
          #nav-logo {
            background-image: url(/assets/images/amazon-nav-logo.png);
            height: 40px;
            width: 110px;
            background-position: -7px -45px;
          }
          #nav-location {
            align-items: center;
            height: 100%;
            width: max-content;
            #location--pin {
              background-image: url(/assets/images/amazon-nav-logo.png);
              //background-position-y: 573px;
              //background-position-x: -60px;
            }
          }
        }
        #searchbar {
          position: relative;
          border: 1px solid white;

          //height: 100%;
          #searchinput {
            padding: 0.5rem;
            &:active {
              display: block;
            }
          }
          #select-toggler {
            background-color: white;
            padding: 0.6rem;

            &:hover {
              background-color: #dadada;
            }
          }
          .search-part {
            height: 95%;
            padding: 0.25rem 0.5rem;
          }
          select {
            position: absolute;
            transform: translateY(2rem);
            display: none;
            &.active {
              display: block;
            }
          }
          .btn-submit {
            background-color: $submit-btn-color;
            &:hover {
              background-color: $submit-btn-hover-color;
            }
            padding: 0.5rem 0.75rem;
          }
        }

        .nav-right {
          #cart-picture {
            height: 3rem;
            width: 3rem;
            background-image: url(//assets/images/amazon-nav-logo.png);
            background-color: #cccccc;
          }
        }
      }
      #nav-middle {
        max-height: 39px;
        padding: 0.25rem 1rem;
        background-color: #232f3e;
      }
      #nav-bottom {
        background-color: #d8f7eb;
        padding: 1rem;
        font-weight: bold;
        letter-spacing: 0.5px;
      }
    }
  }

  main {
    max-width: 1450px;
    margin: auto;
    #way-links {
      font-size: 0.75rem;
      margin: 0.25rem;
      .way-link {
        color: gray;
        &:hover {
          text-decoration: underline;
        }
      }
      i {
        margin: 0 0.2rem;
        scale: 0.6;
        color: gray;
      }
    }
    //flex-direction: column;

    #product {
      align-items: start;
      translate: 0 1rem;
      #small-pictures-container {
        width: min-content;
        translate: -50% 2rem;

        .small-picture > img {
          &.selected {
            display: block;
          }
          &:not(.selected) {
            display: none;
          }
        }
      }
      #big-pictures-container {
        position: relative;

        top: 1rem;
        .big-picture {
          &.selected {
            display: block;
          }
          &:not(.selected) {
            display: none;
          }

          > img {
            max-width: 613px;
            max-height: 700px;
            &.selected {
              display: block;
            }
            &:not(.selected) {
              display: none;
            }
          }
        }
      }
      #product-details {
        margin: 0 1rem;
        #product-main-text {
          line-height: 2rem;
          font-size: 1.5rem;

          //font-weight: bold;
          color: #565959;
        }
        #product-options {
          #color-section {
            #color-selector {
              padding: 0.25rem 0;
              .imgSwatch {
                cursor: pointer;
                border: 1px solid rgb(172, 172, 172);
                margin-right: 0.5rem;
                &.selected {
                  box-shadow: 0 0 2px 1px $small-picture-hover-border-color;
                  border-color: $small-picture-hover-border-color;
                }
              }
            }
          }
          #size-section {
            select {
              padding: 0.25rem;
              border-radius: 0.5rem;
              border: 1px solid;
              &:hover {
                background-color: #e3e6e6;
                box-shadow: 0 0 2px 2px #92c1ff;
                option {
                  background-color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}
