$price-color: #c54204;
$submit-btn-color: #ffd814;
$submit-btn-hover-color: #f7ca00;
$star-color: #ffa41c;
$secondary-link-color: #007185;
$secondary-link-hover-color: #c7511f;
$small-picture-hover-border-color: #e77600;
$nav-top-color: #131921;
$nav-middle-color: #232f3e;
$nav-msg-color: #d8f7eb;
