@font-face {
  font-family: "ember-regular";
  src: url(/assets/fonts/AmazonEmber_Rg.ttf) format("truetype");
}
@font-face {
  font-family: "ember-lite";
  src: url(/assets/fonts/AmazonEmber_Lt.ttf) format("truetype");
}

@font-face {
  font-family: "ember-bold";
  src: url(/assets/fonts/AmazonEmber_Bd.ttf) format("truetype");
  // font-weight: bold;
}
@font-face {
  font-family: "BookerlyLCD_It";
  src: url(/assets/fonts/BookerlyLCD_It.ttf) format("truetype");
}
